<html>
    <head>
        <title>Change Password</title>
    </head>
    <body>
        <h1>Change Password</h1>
        <form th:action="@{/user-management/change-password}" method="post">
        <!-- old -->
        <label for="oldPassword">Password lama</label>
        <input type="password" id="oldPassword" name="oldPassword" required />

        <br><br>
        <!-- new -->
        <label for="newPassword">Password baru</label>
        <input type="password" id="newPassword" name="newPassword" required />

        <br><br>
        <!-- Submit Button -->
        <button type="submit">Change Password</button>
        </form>
    </body>
</html>