<html>
    <head>
        <title>Forget Password</title>
    </head>
    <body>
        <h1>Forget Password</h1>
        <form th:action="@{/user-management/forget-password}" th:object="${forgetPasswordDTO}" method="post">
            <!-- Email -->
            <label for="email">Masukkan Email :</label>
            <input id="email" placeholder="Masukkan Email" type="email" th:field="*{email}" required/>
            <!-- Submit -->
            <button type="submit">Reset Password</button>
        </form>
    </body>
</html>
