<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form th:action="@{/user-management/authenticate}" th:object="${login}" method="post">
            <!-- Email -->
            <input id="id" placeholder="Masukkan Email" type="text" th:field="*{email}"/>
            <!-- Password -->
            <input id="name" placeholder="Masukkan Password" type="text" th:field="*{password}"/>
            <!-- SUBMIT -->
            <button type="submit"> Submit </button>
        </form>
        <label>Lupa password?</label>
        <a th:href="@{'/user-management/forget-password'}">Klik disini</a>
        <label><br>Belum punya akun?</label>
        <a th:href="@{'/user-management/register'}">Daftar</a>
    </body>
</html>