<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Register</h1>
        <form th:action="@{/user-management/add}" th:object="${register}" method="post">
            <!-- first name -->
            <label>Nama depan :</label>
            <input id="fname" placeholder="Masukkan Nama depan" type="text" th:field="*{firstName}"/><br><br>
            <!-- last name -->
            <label>Nama belakang :</label>
            <input id="lname" placeholder="Masukkan Nama belakang" type="text" th:field="*{lastName}"/><br><br>
            <!-- telephone -->
            <label>No. Telepon :</label>
            <input id="telephone" placeholder="Masukkan Nomor telepon" type="text" th:field="*{telephone}"/><br><br>
            <!-- address -->
            <label>Alamat :</label>
            <input id="address" placeholder="Masukkan Alamat" type="text" th:field="*{address}"/><br><br>
            <!-- Email -->
            <label>Email :</label>
            <input id="email" placeholder="Masukkan Email" type="text" th:field="*{email}"/><br><br>
            <!-- Password -->
            <label>Password :</label>
            <input id="pass" placeholder="Masukkan Password" type="password" th:field="*{password}"/><br><br>
            <!-- SUBMIT -->
            <button type="submit"> Submit </button>
        </form>
    </body>
</html>