<html>
    <head>
        <title>Type Form</title>
    </head>
    <body>
        <form th:action="@{/type/save}" th:object="${typeDto}" method="post">
            <!-- ID -->
            <input id="id" placeholder="Masukkan ID" type="text" th:field="*{id}" hidden/>
            <!-- Name -->
            <label>Nama : </label>
            <input id="name" placeholder="Masukkan Nama" type="text" th:field="*{name}" />
            <!-- Year -->
            <label>Tahun : </label>
            <input id="year" placeholder="Masukkan Tahun" type="text" th:field="*{year}" />
            <!-- Price -->
            <label>Harga : </label>
            <input id="price" placeholder="Masukkan Harga" type="text" th:field="*{price}" />
            <!-- Dropdown Brand -->
            <label>Merek : </label>
            <select name="brand" id="brand" th:field="*{brand}">
                <option value="" disabled selected>Pilih Merek</option>
                <option th:each="brand : ${brands}" th:value="${brand.name}" th:text="${brand.name}"></option>
            </select>
            <!-- Dropdown Category -->
            <label>Kategori : </label>
            <select name="category" id="category" th:field="*{category}">
                <option value="" disabled selected>Pilih Kategori</option>
                <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
            </select>
            <!-- Submit -->
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
