.dataTables_filter {
  margin-bottom: 10px;
  order: 2;
}

.dataTables_filter input {
  width: auto;
  display: inline-block;
  width: 150px;
}

.dataTables_buttons {
  display: inline-block;
  order: 1;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}









