.dataTables_filter {
  margin-bottom: 10px;
  order: 2;
}

.dataTables_filter input {
  width: auto;
  display: inline-block;
  width: 150px;
}

.dataTables_buttons {
  display: inline-block;
  order: 1;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dataTables_length,
.dataTables_info,
.dataTables_paginate {
  display: inline-block;
  margin-right: 10px;
}

.dataTables_length,
.dataTables_info {
  flex: 1;  
}

.dataTables_paginate {
  flex: 1; 
  text-align: right;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}









